
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding-bottom: 3rem;
}

.mediaList {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
    gap:2rem;
    margin-top: 2rem;
}

.mediaList a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25em;
}

.mediaItem {
    border-radius: 10%;
    transition-duration: .2s;
}


.mediaImage {
    width: 4rem;
    border-radius: 5px;
    background-color: var(--ui-lightBlue);
}

.footerLLC {
    color: var(--main-White);
}

.footer-btn {
    border: 3px solid white;
    background-color: var(--main-White);
    z-index: 999;
    border-radius: 10px;
    /* width: clamp(1rem, 3rem, 5rem); */
    width: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    margin-top: 1rem;
}


.footer-btn:hover, .mediaItem:hover {
    transform:translateY(-10px);       
}

.restart-btn {
    width:3.5em;
    background-color: var(--main-White);
    z-index: 999;
}


    /* xs */
    @media (max-width: 475px) {
    .container {
    width: 100%;
    }
    .mediaList {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Grid with 3 columns */
        grid-gap: 20px; 
      }
    }
    
    /* xs around iphone 6 gen */
    @media (max-width: 380px) {
    .container {
    width: 100%;
    }
    }

