.about-container {
    display: flex;
    background-color: var(--background-dark);
    justify-content: center;  
}

.about {
    display:flex;
    flex-direction: column;
    gap:2rem;
    width: 50%;
    margin-top: 15rem;
    z-index: 999;
}

.header-box {
  background-color: var(--main-Pink); /* Pink color */
  height: 10px; /* Adjust the height as needed */
  width: 100%; /* Full width of the container */
  position: relative;
  top: 10px; /* Adjust the distance from the text */
}
nologies, .technologies-container {
    margin-left: 1rem;
}

.technologies-container {
    display: flex;
}

.techList {
    display: flex;
    flex-wrap:wrap;
    gap:3rem;
    justify-content:center;
    align-content:center;
    overflowY:hidden;
} 

.techList li {
    max-width: 100px; 
    overflow: hidden; 
    overflowY:hidden;

}

.techList li img {
    width: 100%; /* Make the image take 100% of the container width */
    height: auto; /* Maintain the aspect ratio */
    display: block;
}


.about-img {
    width: 25rem; 
    height: 50rem; 
    border-radius: 10%; 
    overflow: hidden;
    margin-top: 6rem; 
    margin-left:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-pfp-img {
    width: 90%;
    height: 90%;
    object-fit: cover; 
    object-position: center;
    margin-top: 10rem;
}





.about-header {
    color: var(--main-White);
    font-size: var(--text-5xl-font-size);
    margin-top: 1rem;
    background: transparent;
    z-index: 999; 
}

.header-box-about {
    background-color: var(--main-Pink);
    height: 1.2em;
    width: 200px;
    position: relative;
    top: -55px;
    left: 43px;
    z-index: 2; 
    opacity: .9;

}



.about-message {
    color:var(--text-Gray);
    font-size: var(--text-xl-font-size);
}

.about-hr {
    border: 0.5px solid white;
    opacity: .7;
}

.technologies {
    font-size: var(--text-3xl-font-size);
    color:var(--main-White);
}

.technologies-container {
    font-size: var(--text-lg-font-size);
    color:var(--main-White);
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    
    /* 2xl */
    @media (max-width: 1536px) {
    .container {
    max-width: 1280px;
    }
    }
    
    /* xl */
    @media (max-width: 1280px) {
    .container {
    max-width: 1024px;
    }



    }
    
    /* lg */
    @media (max-width: 1024px) {
    .container {
    max-width: 768px;
    }
    .about-container {
        flex-direction: column;
    }

    .about {
        width: 100%;
    }

    .about-img {
        width: 30rem; 
        height: 40rem; 
        border-radius: 10%; 
        overflow: hidden;
        margin-top: 6rem; 
    }
    
    .about-pfp-img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center; 
    }
}
    
    /* md */
    @media (max-width: 768px) {
    .container {
    max-width: 640px;
    }

    .about-img {
        width: 25rem; 
        height: 35rem; 
        border-radius: 10%; 
        overflow: hidden;
        margin-top: 6rem;
        margin-left: 7rem;
    }
    
    }
    
    /* sm */
    @media (max-width: 640px) {
    .container {
    max-width: 475px;
    }
    .about-img {
        width: 25rem; 
        height: 35rem; 
        border-radius: 10%; 
        overflow: hidden;
        margin-top: 6rem;
        margin-left: 3rem;
    }
    .technologies-container {
        width: 90%;
        gap:4rem;
    }
    .technologies-container li {
        text-align: left;
    }
    }
    
    /* xs */
    @media (max-width: 475px) {
    .container {
    width: 100%;
    }

    .about-hr {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    .technologies {
        margin-left: -5srem;
        text-align: center;
    }
    
    .technologies-container {
       margin-left: 1rem;
       flex-direction: column;
       gap:2rem;
    }
    .technologies-container li::before {
            margin-left: 5rem;
    }
    .techList {
        width: 100%;
    }

    .about-message {
        width:90%;
        margin: 0 auto;
    }

    .about-header {
        margin-left:1.5rem;
    }

    .about-img {
        width: 20rem; 
        height: 30rem; 
        border-radius: 10%; 
        overflow: hidden;
        margin-top: 6rem;
        margin-left: 3.5rem;
    }

    }




    
    /* xs */
@media (max-width: 380px) {
    .container {
    width: 370px;
    }
    .technologies-container {
        font-size: 1rem;
        gap: 1.2rem;

        /* display: flex;
        flex-direction: column;
        gap: 2rem; */
    }
    .about-img {
        width: 15rem; 
        height: 25rem; 
        margin-left: 3rem;
    }
    }