
                        /* SCHEMA CSS FOR PROJECTS */

.project {
    overflow-y: hidden;
    height:40rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
    display: flex;
    height: 100%;
}


.project-section {
    color: var(--main-White);
}

.project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    text-align: center;
}

.project-header p {
    width: 50ch;
    font-size: var(--text-xl-font-size);
}

.project-header h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: var(--text-7xl-font-size);
    background-color: transparent;
    z-index: 999;
}
.header-box-projects {
    background-color: var(--main-Pink);
    height: 1.5em;
    width: 250px;
    position: relative;
    top: -75px;
    left: 43px;
    z-index: 2; /* Lower z-index for the header box */
    opacity: .9;
}

.projectLanguages {
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items:center;
    justify-content: center;
    width:90%;
}

.projectLanguages div {
    width: 50px; 
    overflow: hidden;

}
.projectLanguages img{
    width: 100%; /* Make the image take 100% of the container width */
    height: auto; /* Maintain the aspect ratio */
    display: block; 
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 69%;
    gap:2rem;
}

.project-details h1 {
    font-size: var(--text-5xl-font-size);
    overflow-y: hidden;
    text-align: center;

}

.project-details p {
    width: 65%;
    font-size: var(--text-lg-font-size);
    overflow-y: hidden;

}


.project-img {
    overflow-y: hidden;
    width: 100%;
    transition: scale .5s ease;

}

.project-img img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover; 
    transition: scale .5s ease;
}

.project-img:hover {
    scale:0.95;
}

/* .project-img img:hover {
    scale: 1.05;
    animation: glow 1s infinite alternate; 
} */

.task-manager-img {
    overflow-y: hidden;
    width: 100%;
}
.task-manager-img img{
    width: 100%;
    height: 90%;
    border-radius: 10%;
    object-fit: cover; 
    transition: scale .5s ease;
}
        /* BUTTONS START*/
.intro-btn:hover {
transform: scale(1.1);
}

.project-btns {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 55%;
}

.project-btn {
    font-size: var(--text-2xl-font-size);
    padding: .5em;
    background-color:var(--main-Pink);
    border: none;
    border-radius: 15px;
    color: var(--mains-White);
    cursor: pointer;
    animation: glow 1.5s infinite alternate; /* Animation for the glowing effect */
    transition: transform 0.2s ease-in-out; 
    margin-bottom: 5rem;
    overflow-y: hidden;
}

.project-btn a {
    background-color: transparent;
    color:white;
}


.github-repo-btn {
    background-color:var(--main-Green);
    color: var(--mains-White);
    animation: github-glow 1.5s infinite alternate; /* Animation for the glowing effect */
    transition: transform 0.2s ease-in-out; 
}

.github-repo-btn a {
    background-color: transparent;
    color:white;
}

.portfolio-btn {
    font-size: var(--text-lg-font-size);
    padding: .5em;
    background-color:var(--main-Pink);
    border: none;
    border-radius: 15px;
    color: var(--mains-White);
    cursor: pointer;
    animation: glow 1.5s infinite alternate; /* Animation for the glowing effect */
    transition: transform 0.2s ease-in-out; 
    overflow-y: hidden;
}
.portfolio-btn a {
    background-color: transparent;
    color:white;
}
.technologies-container {
}
.techList {
    padding:2rem;
    overflow:hidden;
}
.showtech { 
    opacity:1;
    transform:translateY(0%);
    filter:blur(0);
    overflowY:hidden;
}
.hidetech {
    opacity:0;
    filter:blur(5px);
    transform:translateY(50%);
    transition:all .75s;
    overflowY:clip;
}



.showimg {
    opacity:1;
    transform:translateX(0%);
    filter:blur(0);
}
.imghidden {
    opacity:0;
    filter:blur(5px);
    transform:translateX(-50%);
    transition:all .75s;
}
.hidden {   
    opacity:0;
    filter:blur(5px);
    transform:translateX(50%);
    transition:all 1.5s;
}
.show {
    opacity:1;
    transform:translateX(0%);
    filter:blur(0);
}
.stackLogo {
    transition-delay:100ms;
}
.stackLogo:nth-child(2) {
    transition-delay:200ms;
}.stackLogo:nth-child(3) {
    transition-delay:500ms;
}.stackLogo:nth-child(4) {
    transition-delay:300ms;
}.stackLogo:nth-child(5) {
    transition-delay:400ms;
}.stackLogo:nth-child(6) {
    transition-delay:800ms;
}.stackLogo:nth-child(7) {
    transition-delay:600ms;
}.stackLogo:nth-child(8) {
    transition-delay:700ms;
}.stackLogo:nth-child(9) {
    transition-delay:1200ms;
}.stackLogo:nth-child(10) {
    transition-delay:1100ms;
}.stackLogo:nth-child(11) {
    transition-delay:1000ms;
}
.stackLogo:nth-child(12) {
    transition-delay:1500ms;
}
.stackLogo:nth-child(13) {
    transition-delay:1200ms;
}
.stackLogo:nth-child(14) {
    transition-delay:1300ms;
}
.stackLogo:nth-child(15) {
    transition-delay:1100ms;
}
.stackLogo:nth-child(16) {
    transition-delay:1600ms;
}


@keyframes glow {
    0% {
      box-shadow: 0 0 8px var(--main-Green); 
    }
    50% {
        box-shadow: 0 0 12px var(--main-Pink); 
      }
    100% {
      box-shadow: 0 0 18px var(--main-Pink); 
    }
  }

  @keyframes github-glow {
    0% {
      box-shadow: 0 0 8px var(--main-Pink); 
    }
    50% {
        box-shadow: 0 0 12px var(--main-Green); 
      }
    100% {
      box-shadow: 0 0 18px var(--main-Green); 
    }
  }



  /* BUTTONS END  */


  
  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    
    /* 2xl */
    @media (max-width: 1536px) {
    .container {
    max-width: 1280px;
    }
    }
    
    /* xl */
    @media (max-width: 1280px) {
    .container {
    max-width: 1024px;
    }
    .project-details p {
        width: 40ch;
    }
    .project {
        gap: 4rem;
    }
    }
    
    /* lg */
    @media (max-width: 1024px) {
    .container {
    max-width: 768px;
    }

    .project {
        height:100%;
    }

    .project {
        flex-direction: column;
        gap: rem;
        justify-content: center;
        align-items: center;
    }
    .project-details {
        gap:2rem;
    }
    .project-details p {
        width: 100%;
    }
    .project-btn {
        margin-bottom: 0rem;
    }
}
    
    
    

    
    
    /* md */
    @media (max-width: 768px) {
    .container {
    max-width: 640px;
    }
    }
    
    /* sm */
    @media (max-width: 640px) {
    .container {
    max-width: 475px;
    }
    .project-header p {
        width: 80%;
    }
    }
    
    /* xs My phone size , iphone 11? */
    @media (max-width: 475px) {
    .container {
    width: 100%;
    }
    .project-btns {
        flex-direction: column;
    }
    }
    
    /* xs around iphone 6 gen */
    @media (max-width: 380px) {
    .container {
    width: 100%;
    }
    .header-box-projects {
        width: 220px;
    
    }
    }